* {
  margin: 0;
}

.App {
  border: 1px solid black;
  position: relative;
  /* height: 100vh; */
  width: 100%;
  background-image: url(race.jpg);
  background-size: cover; /* Ensures the image covers the entire container */
  background-position: center; /* Centers the image */
  background-repeat: no-repeat;
}
